@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'NationalPark-Outline';
        src: url('/public/fonts/nationalpark-outline-webfont.woff2') format('woff2'),
            url('/public/fonts/nationalpark-outline-webfont.woff') format('woff'),
            url('/public/fonts/NationalPark-Outline.otf') format('otf');
        font-weight: normal;
    }

    @font-face {
        font-family: 'NationalPark-Thin';
        src: url('./fonts/nationalpark-thin-webfont.woff2') format('woff2'),
            url('./fonts/nationalpark-thin-webfont.woff') format('woff'),
            url('/public/fonts/NationalPark-Thin.otf') format('otf');
        font-weight: normal;
        font-style: normal;

    }
}

@layer components {
    .wrapper:hover {
        transition: unset;
        transform: translate(calc(9px), calc(5px));
        box-shadow: rgb(0, 0, 0) calc(7px) 4px 0px 0px;
    }

    .wrapper {
        z-index: 0;
        background-color: rgb(117, 81, 231);
        border: 1px solid rgb(0, 0, 0);
        overflow: visible;
        color: rgb(0, 0, 0);
        box-shadow: rgb(0 0 0) 16px 8px 0px 0px;
        width: calc(90% - 5px);
        margin: 0px calc(3px) 32px;
        transition: transform 0.1s linear 0s, box-shadow 0.1s linear 0s;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 0px;
        position: relative;
    }

    .wrapper:hover::after,
    .wrapper:hover::before {
        transition: unset;
    }

    .wrapper:hover::before {
        left: -1px;
        bottom: calc(-5px);
        border-left-width: 8px;
        border-right-width: 8px;
        border-top-width: 4px;
    }

    .wrapper::before {
        inset: auto auto calc(-9px) -1px;
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
        border-top: 8px solid rgb(0, 0, 0);
    }

    .wrapper::after,
    .wrapper::before {
        position: absolute;
        content: "";
        z-index: 1;
        transition: all 0.1s linear 0s;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .wrapper:hover::after,
    .wrapper:hover::before {
        transition: unset;
    }

    .wrapper:hover::after {
        width: calc(7px);
    }

    .wrapper::after {
        top: -1px;
        left: calc(100% + 1px);
        height: calc(100% + 2px);
        width: 16px;
        transform: matrix(1, 0.5, 0, 1, 0, 0);
        transform-origin: left top;
        border-width: 1px 1px 1px 0px;
        border-style: solid solid solid;
        border-color: rgb(0, 0, 0) rgb(0, 0, 0) rgb(0, 0, 0);
        -o-border-image: initial;
        border-image: initial;
        border-left: 0px;
        background: linear-gradient(rgb(52 211 153 / 1), rgb(52 211 153 / 1) 5.1px, rgb(0, 0, 0) 1px, rgb(0, 0, 0)) 0% 0% / 100% 6.4px;
    }

    .wrapper::after,
    .wrapper::before {
        position: absolute;
        content: "";
        z-index: 1;
        transition: all 0.1s linear 0s;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .btn {
        overflow-wrap: break-word;
        word-break: break-word;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        white-space: normal;
        color: inherit;
        transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s,
            border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s,
            transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s,
            background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
        min-height: 44px;
        margin: 0px;
        border: none;
        font-family: inherit;
        font-weight: inherit;
        font-size: inherit;
        text-align: center;
        cursor: pointer;
        background: none;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        position: relative;
        padding: 10px 20px;
        width: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        box-sizing: border-box;
        vertical-align: middle;
    }

    .btn-text {
        position: relative;
        -webkit-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
        padding: 0px;
        margin: 0px;
        width: 100%;
        /*font-weight: 700;*/
        line-height: 28px;
    }
}

/* Box Model Hack */
* {
    box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

html,
body {
    height: 100%;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 15px;
    }
}

body {
    margin: auto;
    font-family: 'NationalPark-Outline',
        'NationalPark-Thin',
        'Playfair Display SC',
        serif;
}

p,
a,
figcaption,
figure,
cite {
    font-family:
        'NationalPark-Thin',
        'Playfair Display SC',
        serif;
}

h1 {
    text-shadow: -3px 0 rgb(33 59 27),
        0 3px rgb(33 59 27),
        3px 0 rgb(33 59 27),
        0 -3px rgb(33 59 27);
}

h1>span:nth-child(1) {
    text-shadow: -1px 0 rgb(33 59 27),
        0 1px rgb(33 59 27),
        1px 0 rgb(33 59 27),
        0 -1px rgb(33 59 27);
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/